# Global Clock Nets
NET "Phi0"     BUFG=CLK;
NET "CLK16MHz" BUFG=CLK;
NET "RnW"      BUFG=DATA_GATE;

# 2MHz clock domain
NET "Phi0" TNM_NET = clk_period_grp_2;
TIMESPEC TS_clk_period_2 = PERIOD "clk_period_grp_2" 500ns LOW;

# 16MHz clock domain
NET "CLK16MHz" TNM_NET = clk_period_grp_16;
TIMESPEC TS_clk_period_16 = PERIOD "clk_period_grp_16" 62.50ns HIGH;

NET "A(8)"     LOC = "P1";      # input
NET "A(6)"     LOC = "P3";      # input
NET "A(9)"     LOC = "P4";      # input
NET "A(5)"     LOC = "P6";      # input
NET "A(11)"    LOC = "P8";      # input
NET "A(4)"     LOC = "P9";      # input
NET "nOE2"     LOC = "P10";     # output
NET "nOE1"     LOC = "P11";     # output
NET "A(10)"    LOC = "P12";     # input
NET "nCE1"     LOC = "P13";     # output
NET "nCE2"     LOC = "P14";     # output
NET "A(1)"     LOC = "P15";     # input
NET "D(7)"     LOC = "P16";     # bidirectional
NET "A(0)"     LOC = "P17";     # input
NET "D(6)"     LOC = "P18";     # bidirectional
NET "A(3)"     LOC = "P20";     # input
NET "RnW"      LOC = "P22";     # input
NET "CLK16MHz" LOC = "P23";     # input
NET "D(5)"     LOC = "P25";     # bidirectional
NET "Phi0"     LOC = "P27";     # input
NET "D(1)"     LOC = "P28";     # bidirectional
NET "D(4)"     LOC = "P29";     # bidirectional
NET "D(2)"     LOC = "P30";     # bidirectional
NET "D(3)"     LOC = "P32";     # bidirectional
NET "A(2)"     LOC = "P33";     # input
NET "D(0)"     LOC = "P35";     # bidirectional
#NET "LKD13    LOC = "P36";     # input
NET "LKD13"    LOC = "P52";     # input (floating!)
NET "nRST1"    LOC = "P36";     # input (was LKD13)
#NET "LKD02"   LOC = "P37";     # input
NET "LKD02"    LOC = "P53";     # input (floating!)
NET "Phi2"     LOC = "P37";     # output (was LKD02)
NET "A(12)"    LOC = "P39";     # input
NET "nCE13"    LOC = "P40";     # output
NET "nROM13"   LOC = "P41";     # input
NET "nROE"     LOC = "P49";     # input
NET "nRST"     LOC = "P50";     # input
NET "nPFC"     LOC = "P58";     # input
NET "nPFD"     LOC = "P59";     # input
NET "QA"       LOC = "P60";     # input
NET "nNMI"     LOC = "P61";     # output
NET "R13256KS" LOC = "P67";     # input
NET "nSELA"    LOC = "P68";     # output (was R13D)
NET "MMCM"     LOC = "P70";     # input
NET "nNMI1MHz" LOC = "P71";     # input
NET "BnPFC"    LOC = "P72";     # output
NET "BRnW"     LOC = "P74";     # output
NET "B1MHz"    LOC = "P76";     # output
NET "BnPFD"    LOC = "P85";     # output
NET "DIRA"     LOC = "P86";     # output
NET "BnRW"     LOC = "P87";     # output
NET "nSELT"    LOC = "P89";     # output
NET "nSELB"    LOC = "P90";     # output
NET "nOE13"    LOC = "P91";     # output
NET "BRnW13"   LOC = "P92";     # output
NET "A14"      LOC = "P93";     # output
NET "S1RnW"    LOC = "P94";     # output
NET "S2RnW"    LOC = "P95";     # output
NET "nFCBx"    LOC = "P96";     # output
NET "A(13)"    LOC = "P97";     # input
NET "A(7)"     LOC = "P99";     # input
